html {
  /* pour rendre le scroll au clic */
  scroll-behavior: smooth;
}

body {
  background-color: #5c48d2;
  font-family: Verdana, Arial, Tahoma, sans-serif;
  font-size: 16px;
  /* scroll-behavior: smooth; */
}

/*mise en forme des titres*/
h1 {
  font-size: 48px;
  color: white;
  line-height: 200px;
  margin: 0 auto;
  text-align: center;
}

header .icon {
  display: none;
}

h2,
h3 {
  font-weight: bold;
  color: #190f33;
}

h2 {
  font-size: 30px;
  margin-bottom: 80px;
  text-align: center;
}

h3 {
  font-size: 26px;
  margin-bottom: 40px;
}

h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
p {
  line-height: 30px;
}

main {
  background-color: white;
  width: 1024px;
  border-radius: 20px;
  margin: 0 auto;
  /* justify-content: space-around; */
}

nav {
  height: 100px;
  display: flex;
}

nav a {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: grey;
  border: #190f33 1px solid; */
  color: #190f33;
  font-size: 20px;
  text-decoration: none;
}

nav a:hover {
  color: #5c48d2;
}

.main-img {
  height: 400px;
  width: 1024px;
  object-fit: cover;
}

section {
  /* background-color: #fcc01a; */
  padding: 100px;
}

/*concene une #id*/
#education {
  background-color: #eeeef7;
}

#contact {
  background-color: #eeeef7;
  border-radius: 20px;
}

.information {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: yellow; */
}

.information img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  object-fit: cover;
  border: solid 3px #fcc01a;
  margin-right: 80px;
}
.headerfirst {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.headerfirst img {
  display: none;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: solid 3px #fcc01a;
  margin-left: 80px;
}

.name,
.city {
  color: #190f33;
}

.name {
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 50px;
}

.city {
  font-size: 30px;
  font-style: italic;
}

#education img {
  height: 100px;
}

#education p {
  text-align: center;
}
#education div {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  /* background-color: gray; */
  justify-content: space-around;
}

#education span {
  font-weight: bold;
}

#projects p {
  text-align: center;
}

.project-container img {
  width: 500px;
  margin-right: 60px;
  cursor: pointer;
}
.project-container img:hover {
  box-shadow: 1px 1px 15px rgb(143, 141, 141);
  opacity: 0.7;
}
.project-container .logoproject img {
  box-shadow: none;
  opacity: 1;
  cursor: auto;
}

.project-container {
  margin-top: 100px;
  margin-bottom: 150px;
  display: flex;
  /* background-color: grey; */
  justify-content: center;
  align-items: center;
}
.project-container1 {
  margin-top: 100px;
  margin-bottom: 150px;
  display: flex;
  /* background-color: grey; */
  justify-content: center;
  align-items: center;
}

.project-container1 img {
  width: 500px;
  margin-right: 60px;
}
.project-container1 img:hover {
  box-shadow: 1px 1px 15px rgb(143, 141, 141);
  opacity: 0.7;
}
.project-container1 .logoproject img {
  box-shadow: none;
  opacity: 1;
  cursor: auto;
}
.project-container1 img:nth-child(4) {
  width: 74px;
}

#projects li {
  line-height: 30px;
  list-style-type: disc;
}

.logoproject img {
  height: 30px;
  width: auto;
}
.logoproject {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  width: 420px;
}

#contact img {
  height: 30px;
  margin-right: 20px;
  cursor: pointer;
}

#contact a {
  text-decoration: none;
  color: #190f33;
}

#contact div {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
#contact a:hover {
  color: #5c48d2;
}

footer {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer a {
  line-height: 40px;
  text-decoration: none;
  color: #fcc01a;
}

footer p {
  color: #c4c4c4;
  line-height: 40px;
}

footer a:hover {
  color: #190f33;
}

/*==PARTIE RESPONSIVE========630px======================*/

@media (max-width: 630px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 90vw;
    height: 250px;
    /* background-colsor: lightgreen; */
    margin: 0 auto;
  }
  .headerfirst img {
    display: block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: solid 3px #fcc01a;
    margin-left: 50px;
  }
  .headerfirst {
    display: flex;
    /* background-color: pink; */
    width: 100vw;
  }
  header h1 {
    font-size: 25px;
    margin: 0 auto;
  }
  header .icon {
    display: contents;
    font-size: 25px;
    color: lightgray;
  }
  header .icon:hover {
    color: grey;
  }

  main {
    background-color: white;
    width: 90vw;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 30px;
    /* justify-content: space-around; */
  }

  #contact p {
    display: none;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    max-width: 90vw;
  }
  .text {
    display: none;
  }
  .text nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
  .text nav a {
    width: 50vw;
    border-bottom: 1px solid lightgray;
  }
  .main-img {
    width: 90vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .information img {
    display: none;
  }

  .projectss {
    /* background-color: yellow; */
    max-width: 90vw;
    margin: 0 auto;
  }
  .project-container {
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
    /* background-color: pink; */
    width: 62vw;
  }
  .project-container1 {
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
    /* background-color: pink; */
    width: 62vw;
  }
  .project-container img {
    width: 80vw;
    margin-bottom: 30px;
  }
  .project-container1 img {
    width: 80vw;
    margin-bottom: 30px;
  }
  .logoproject img {
    height: 30px;
    width: auto;
  }
  .logoproject {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    width: 420px;
  }
  .straigth {
    border-bottom: 1px solid lightgray;
    width: 50vw;
  }
}
